#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input[type="file"] {
  display: none;
}

label {
  padding: 8px;
  background-color: #333;
  color: #FFF;
  text-transform: uppercase;
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}

.result {
  width: 600px;
  display: flex;
  justify-content: flex-start;
}

.result-line {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}

.result-line-child {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.key {
  color: #4E9590;
}

.value-obj {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.array-line {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 4px;
}

.array-idx {
  color: #BFBFBF;
}

.brackets {
  color: #F2CAB8;
}